h2 {
    color: orange;
}

body {
    background-color: #00DBDE;
    background-image: linear-gradient(0deg, #00DBDE 0%, #FC00FF 100%);

    color: white;
    font-family: Roboto;
    text-align: center;
}

header {
    border-bottom: 1px solid grey;
}

footer {
    border-top: 1px solid grey;
}

#nome-usuário {
    font-weight: bold;
    font-size: 30px;
}

.texto-inglês {
    font-style: italic;
}